html, body{
	width:100%;
	height:100%;
}
.center{
	text-align:center;

}
.full-parent-size{
	width:100%;
	height:100%;
}
.main-content{
	border:1px solid black;
	width:80%;
	min-height:70%;
	overflow:hidden;
	margin:0 auto;
}
.header{
	position:relative;
	border-bottom:1px solid black;
	width:100%;
	height:20%;
}
.content-section{
	height:80%;
	width:100%;
}
.article-container{
	position:relative;
	height:60%;
	border: 1px solid black;
}
.artist-image{
	width:100%;
}
.margin-r-10{
	margin-right:10px;
}
.album-section{
	width:100%;
	height:60%;
	overflow:hidden;
}
.playlist-section{
	width:100%;
	height:60%;
	overflow:hidden;
}