body{
	text-align:center;
}
header{
	position:relative;
	border-bottom:2px solid;
}
article{

	border:2px solid;
	width:40%;
	margin:auto;
	margin-top:10%;
	position:relative;
}
section{
	min-height:200px;
	display:table;
	text-align:center;
	width:100%;
}
.joke{
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
}
.hidden{
	visibility:hidden;
}
.visible{
	visibility:visible;
}
.button{
	background-color:green;
	color:white;
	border-radius:5px;
	height:40px;
}